* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: LatoRegular, sans-serif;
}

html {
	background-color: #fff;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	width: 100%;
	height: 100%;
}
